# deprecation-detector
/.rules

# Composer
/vendor

# Binaries
/box.phar
/console.phar
/composer.phar
/wordpress.phar
/wordpress.phar.version

# Test
/phpunit.xml

# Project
extend.config.yml
extend.services.yml
